    @font-face {
        font-family: 'icomoon';
        src:  url('/icomoon4/fonts/icomoon.eot?fp976k');
        src:  url('/icomoon4/fonts/icomoon.eot?fp976k#iefix') format('embedded-opentype'),
          url('/icomoon4/fonts/icomoon.ttf?fp976k') format('truetype'),
          url('/icomoon4/fonts/icomoon.woff?fp976k') format('woff'),
          url('/icomoon4/fonts/icomoon.svg?fp976k#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .icon-twitter:before {
        content: "\e900";
      }
      .icon-facebook:before {
        content: "\e901";
      }
      .icon-facebook-f:before {
        content: "\e901";
      }
      .icon-instagram:before {
        content: "\e902";
      }
      .icon-menu:before {
        content: "\e903";
      }
      .icon-list:before {
        content: "\e903";
      }
      

  .burger-button {
    margin-top: -40px;
    margin-right: 90px;
    /* border-radius: 50%; */
    /* background-color: white; */
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
  }
body {
    
    background-image: url(./assets/DSC_0561.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.logo {
    /* max-width: 1440px; */
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo-turizo {
    width: 55px;
    padding: 25px 70px;
}
.music {
    display: flex;
    justify-content: center;
    margin-top: 270px;
}
.music-spoty {
    width: 170px;
    padding: 30px;
}
.music-apple {
  width: 170px;
  height: 60px;
  padding: 30px;
  margin-top: 14px;
}
.music-youtube {
  width: 170px;
  padding: 30px;
}
.music-deezer {
  width: 170px;
  height: 80px;
  padding: 30px;
  margin-top: 8px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    width: 60px;
    padding-left: 33px;
}
.facebook-button {
    font-size: 27px;
    color: white;
    padding-top: 23px;
    margin-left: 60px;
}
.twitter-button {
    font-size: 27px;
    color: white;
    padding-top: 23px;
    margin-left: 60px;
}
.instagram-button {
    font-size: 27px;
    color: white;
    padding-top: 23px;
    margin-left: 60px;
}

